body {
  background: white;
  font-family: "Lucida Grande", Geneva, Verdana, "Hiragino Kaku Gothic ProN", Meiryo, "Droid Sans", sans-serif; }

a {
  color: #eeeeee;
  text-decoration: underline; }
  a:hover, a:focus {
    color: #eeeeee; }

[role="banner"] {
  padding: 20px 0;
  text-align: center; }
  [role="banner"] h1 img {
    width: 258px; }
  @media only screen and (min-width: 40.063em) {
    [role="banner"] h1 img {
      width: 387px; } }

[role="heading"] {
  color: white; }

main .container {
  margin-top: -800px;
  background: -webkit-gradient(linear, 100% 0, 0 0, from(transparent), to(white));
  background: linear-gradient(to bottom, rgba(57, 57, 57, 0.5), #111111 100%);
  color: white; }

.main-visual {
  position: relative;
  overflow: hidden;
  max-width: 672px;
  height: 800px;
  margin: 0 auto; }
  @media only screen and (min-width: 40.063em) {
    .main-visual:before, .main-visual:after {
      display: block;
      position: absolute;
      top: 0;
      z-index: -1;
      width: 80px;
      height: 100%;
      content: ""; }
    .main-visual:before {
      left: 0;
      background: -webkit-gradient(linear, 100% 0, 0 0, from(transparent), to(white));
      background: linear-gradient(to left, transparent, white 100%); }
    .main-visual:after {
      right: 0;
      background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(white));
      background: linear-gradient(to right, transparent, white 100%); } }
  .main-visual canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    width: 386px; }
  @media only screen and (min-width: 40.063em) {
    .main-visual canvas {
      width: 672px; } }
  .main-visual .main-visual-01 {
    z-index: -4; }
  .main-visual .main-visual-02 {
    z-index: -3; }
  .main-visual .main-visual-03 {
    z-index: -2; }

section {
  max-width: 62.5em;
  margin: 0 auto; }

.promo-word {
  margin-bottom: 40px; }

.tagline {
  padding: 80px 0 20px;
  font-weight: bold;
  text-align: center; }

.introduction {
  text-align: center; }

.booth {
  overflow: hidden;
  margin-bottom: 80px; }
  .booth dt {
    float: left; }
  .booth dd {
    margin-bottom: 10px;
    border-bottom: 1px dotted white;
    text-align: right; }

.subheader {
  margin: 0 0 20px;
  line-height: 1; }

.details {
  margin-bottom: 1.875em; }
  .details dt {
    float: left; }
  .details dd {
    margin-bottom: 10px;
    border-bottom: 1px dotted white;
    text-align: right; }

.cover {
  margin-bottom: 1.875em; }

.toc {
  list-style: none;
  margin-top: -5px;
  margin-left: 0; }
  .toc > li {
    padding: 5px 0;
    border-bottom: 1px dotted white; }
    .toc > li:last-child {
      border-bottom: 0; }
  .toc .toc {
    margin-top: 0;
    margin-left: 1.4rem; }
    .toc .toc > li {
      padding: 0;
      border-bottom: 0; }

.social {
  list-style: none;
  border: dotted white;
  border-width: 1px 0;
  margin: 40px 0;
  padding: 20px 0;
  text-align: center; }
  .social li {
    display: inline-block; }

.copyright {
  margin: 0;
  padding: 20px 0;
  text-align: center; }
  .copyright img {
    width: 148.66667px; }
  @media only screen and (min-width: 40.063em) {
    .copyright img {
      width: 223px; } }
